<div class="row">
  <div class="col-md-2">
    <label>Date</label>
    <%= f.text_field :date, class: "form-control" %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <label>Note:</label>
    <%= f.text_area :note, placeholder: "what happened?", rows: "10", class: "form-control" %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="checkbox-inline">
      <% ActsAsTaggableOn::Tag.all.each do |tag| %>
      <label class="checkbox-inline">
        <%= f.check_box :category_list, {multiple: true}, tag.name, nil %>
          <%= tag.name %>
        </label>
      <% end %>
    </div>
  </div>
</div>
