<div class="row">
  <div class="col-md-2">
    <label>Date</label>
    <%= f.text_field :date, class: "form-control" %>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
    <label>Note:</label>
    <%= f.text_area :note, placeholder: "what happened?", rows: "10", class: "form-control" %>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
    <label>Tags:</label>
    <%= f.text_field :category_list, placeholder: "alpkem, field, glbrc, etc. (separate your tags with a comma)", class: "form-control" %>
  </div>
</div>
