// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.highlight {
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

.pull-down {
  margin-top: 20px;
}

